# Environment Variables
.env

# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database Files
*.db
*.sqlite
*.sqlite3
sql_app.db

# Temporary Debug Files
debug_*.py
test_*.py
heatmap_response.json

# IDE settings
.vscode/
.idea/
